In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/Twitter_Emotion_Dataset.csv')
df

        label                                              tweet
0       anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1       anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3       anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       happy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...       ...                                                ...
4396     love  Tahukah kamu, bahwa saat itu papa memejamkan m...
4397     fear  Sulitnya menetapkan Calon Wapresnya Jokowi di ...
4398    anger  5. masa depannya nggak jelas. lha iya, gimana ...
4399    happy  [USERNAME] dulu beneran ada mahasiswa Teknik U...
4400  sadness  Ya Allah, hanya Engkau yang mengetahui rasa sa...

[4401 rows x 2 columns]

In [3]:
df['tweet'] = df['tweet'].str.replace(r'\[USERNAME\]|\[URL\]|\[SENSITIVE-NO\]', '', regex = True)

In [5]:
df = df[['tweet', 'label']]
df

                                                  tweet    label
0     Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...    anger
1     Sesama cewe lho (kayaknya), harusnya bisa lebi...    anger
2     Kepingin gudeg mbarek Bu hj. Amad Foto dari go...    happy
3     Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...    anger
4     Sharing pengalaman aja, kemarin jam 18.00 bata...    happy
...                                                 ...      ...
4396  Tahukah kamu, bahwa saat itu papa memejamkan m...     love
4397  Sulitnya menetapkan Calon Wapresnya Jokowi di ...     fear
4398  5. masa depannya nggak jelas. lha iya, gimana ...    anger
4399   dulu beneran ada mahasiswa Teknik UI nembak p...    happy
4400  Ya Allah, hanya Engkau yang mengetahui rasa sa...  sadness

[4401 rows x 2 columns]

In [6]:
df.to_csv('dataset_clean.csv')

In [6]:
X = df['tweet']
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [7]:
X_train

1769    Kaget dapet berita tetangga satu RT di Solo, m...
1220    tidak-enak sangat badanya ingin pulang tapi ke...
44      Oh iya, ibu nya ngelahirin anak ke 3 yaitu cew...
289     Jiyeeee jiyeee, jeng Domi abis menang lawan Ke...
2486    Cinta penuh dengan banyak hal yang membuat sem...
                              ...
3444    Persahabatan itu tidak perlu filosopi, tidak m...
466     Ini!!! Banyak yang bilang milih sopir mobil ha...
3092    dia blg dia ttp pegang janji pernikahannya, td...
3772     Ya Allah...apa2 kok yg disalahin pres  ... Ka...
860     Gue punya Temen yg dibela-belain pinjem duwit ...
Name: tweet, Length: 3520, dtype: object

In [8]:
y_train

1769    sadness
1220    sadness
44      sadness
289       happy
2486       love
         ...
3444      happy
466       anger
3092    sadness
3772      anger
860     sadness
Name: label, Length: 3520, dtype: object

In [9]:
X_train = pd.DataFrame(X_train)
y_train = pd.DataFrame(y_train)
X_test = pd.DataFrame(X_test)
y_test = pd.DataFrame(y_test)

train = pd.merge(X_train, y_train, left_index=True, right_index=True)
train = train.reset_index()
test = pd.merge(X_test, y_test, left_index=True, right_index=True)
test = test.reset_index()

In [10]:
train

      index                                              tweet    label
0      1769  Kaget dapet berita tetangga satu RT di Solo, m...  sadness
1      1220  tidak-enak sangat badanya ingin pulang tapi ke...  sadness
2        44  Oh iya, ibu nya ngelahirin anak ke 3 yaitu cew...  sadness
3       289  Jiyeeee jiyeee, jeng Domi abis menang lawan Ke...    happy
4      2486  Cinta penuh dengan banyak hal yang membuat sem...     love
...     ...                                                ...      ...
3515   3444  Persahabatan itu tidak perlu filosopi, tidak m...    happy
3516    466  Ini!!! Banyak yang bilang milih sopir mobil ha...    anger
3517   3092  dia blg dia ttp pegang janji pernikahannya, td...  sadness
3518   3772   Ya Allah...apa2 kok yg disalahin pres  ... Ka...    anger
3519    860  Gue punya Temen yg dibela-belain pinjem duwit ...  sadness

[3520 rows x 3 columns]

In [11]:
test

     index                                              tweet    label
0      274  Ya.....Allah..smoga 2019 tdk ada lagi 2 manusi...     fear
1     3431  [BELAJARLAH DEMI ORANGTUAMU!!!] KALIAN TAU!! O...    anger
2     4021  Hallo  Mohon dibantu ya saya sudah menyerah de...  sadness
3     1027  Bisa gak sih situ sekali aja mikir sendiri kal...    anger
4     1589  Selamat pagi warga Gunungkidul, bagaimana suas...    happy
..     ...                                                ...      ...
876   1032    Tidak disemua tempat kita boleh melaksanakan...     fear
877   3281  Saat sendiri, hanya saya yang tau dan mungkin ...     fear
878    527    Mekanisme pemilihan direksi dan komisarisnya...    anger
879   1200                       hehe iya masih sakit fir -_-  sadness
880    122  Eh tapi numbuhin brewok juga buat nyenengin di...     fear

[881 rows x 3 columns]

In [12]:
train.to_csv('datasets/dataset_train.csv')
test.to_csv('datasets/dataset_test.csv')

In [ ]:
import torch
torch.cuda.is_available()